@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
  --link-color: 217, 100%, 60%;
}
#app.dark {
  --link-color: 100, 100%, 60%;
}

a,
.green {
  text-decoration: none;
  color: hsla(var(--link-color), 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(var(--link-color), 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
